<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athleticore Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
   <div class="login-container">
    <h2> Login to Athleticore </h2>
    <form>
        <input type="text" placeholder="username" name="username" required>
        <input type="password" placeholder="password" name="password" required>
        <button type="submit" text="Login">Login</button>
    </form>
    <a href="#">Create Account</a>
    <a href="#">Forgot Password?</a>
   </div>
</body>
</html>