<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athleticore Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
   <div class="login-container">
    <div class="logo">ATHLETICORE<span class="ai-text">.AI</span></div>
    <p class="subtitle">Create Account</p>
    <form>
        <input type="email" placeholder="email" name="email" required>
        <input type="username" placeholder="username" name="username" required>
        <input type="password" placeholder="password" name="password" required>
        <button type="submit" text="Sign Up">Login</button>
    </form>
    <div class="form-footer">
        <a href="login.html">Already have an account? Login</a>
    </div>
   </div>
</body>
</html>